body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
 padding: 25px;
 background-color: rgba(73, 88, 175, 0.4);
}

header {
    text-align:center;
    border: blueviolet;
    position:-webkit-sticky;
    position: sticky;

   
}

header p {
  color: rgb(110, 46, 150);
  font-style: italic;
  
}
.headerText{
  font-weight: bolder;
}

.welcome{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}


.mbar {
  padding: 5px;
  margin: 5px;
  background: rgb(145, 205, 233);
  border: 1px solid #aaa;
  font-size: 25px;
  font-weight: bold;
  text-align:center ;
  color: #c22f8e;

}

.theme1 {
color: black;
font-size: 20px;
font-weight: bold;
}

.video {
  color: black;
  font-size: 20px;
  font-weight: bold;
  }


#inspire {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.inspire2 {
font-size: 12px;
color: #640d46;
}

#inspiration-container{
  border: 3px solid blue;
  border-radius: 5px;
  background-color: rgb(173, 231, 233);
  

}

.info {
  background: #f1f6ff;
  border: 1px solid #92aad4;
}
.err {
  background: #ffe7f4;
  border: 1px solid #813d3d;
}

#response-container{
  padding: 40px;

}

#breathe {
  background: #000;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  height: 125px;
  width: 125px;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
 
}
#breatheArea{
justify-content: right;
padding: 45px;
color: white;
}

.breatheTitle {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.secondary-border{
  font-size: 16px;
  text-decoration: underline;

}

.contact-title{
font-size: 14px;
color: teal;
}

address{
  font-size: 14px;
}

.wecare{
  text-decoration: underline;
}

.prevention {
  color: #2317be;
  font-size: 20px;
}

.caretext {
  color: #0c7c37;
  text-decoration: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  will-change: top;
  max-height: 100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #4b1d3b;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px; 
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  
}

.modal .modal-content{
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  animation: center 6s infinite;
}

.circle:nth-child(odd) {
  background: #61bea2;
}

.circle:nth-child(even) {
  background: #529ca0;
}

.circle:nth-child(1) {
  animation: circle-1 4s ease alternate infinite;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease alternate infinite;
}

.circle:nth-child(3) {
  animation: circle-3 4s ease alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease alternate infinite;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease alternate infinite;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease alternate infinite;
}


@keyframes pulse {
  0% {
    transform: scale(.15) rotate(180deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, -50px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 50px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, 50px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, -50px);
  }
}